<div class="main-container">

  <div class="row" id="masonry-gallery" data-masonry='{"percentPosition": true }'>
    <% @top_categories.each do |category| %>
      <div class="masonry col-sm-4 col-md-4 p-1">
        <div class="card border-0 position-relative overflow-hidden">
          <% image = category.images.first%>
          <%= link_to category_path(category) do %>
            <%= image_tag image.image.medium.url, alt: image.title, class: "card-img-top img-thumbnail p-0" %>
            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center bg-white bg-opacity-75 text-white overlay-content">
              <h5 class="card-title text-dark mb-2"><%= category.title %></h5>
              <div class="d-flex justify-content-center">
                <h5 class="card-title text-dark mb-2">By: <%= category.user.username %></h5>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>

  document.addEventListener("DOMContentLoaded", function() {
    var masonryContainer = document.querySelector('#masonry-gallery');
    new Masonry(masonryContainer, {
      itemSelector: '.masonry',
      percentPosition: true,
      gutter: 0
    });

  });
</script>
<%# render 'slider' %>
