<h1>Top 5 categories</h1>

<% @top_categories.each do |category| %>
  <div>
    <h2><%= link_to category.title, category_path(category) %></h2>
    <p>Likes: <%= category.likes_count %></p>
  </div>
<% end %>