<div class="main-container">
    <h1 class="main-title display-1 roboto-black-italic"> Through The Art.</h1>
    <p class="main-description playwrite-au-sa"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed et itaque deleniti culpa perferendis, inventore recusandae expedita. Provident, natus, eius et ab unde dignissimos impedit dolorem voluptas alias veritatis debitis?</p>
</div>
<%= render 'slider' %>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>