@import "vars";
.comments{

}
.comments-title{
	color: var(--main-color);
}
.comment-text{
	word-wrap: break-word;
	word-break: break-all;
}
.comment-card{
	background-color: var(--main-bg-dark);
	border: none;
}
