.navbar {
	color: var(--main-color);
	background-color: var(--main-bg-light)
}
.nav-top{
	display: flex;
	gap: 20px;
}
.navbar-toggler{

}
.nav-item > .btn{
}
.nav-item > .btn:hover{
	background-color: #afafaf;
	border-radius: 0;
}
.navbar-brand {
	color: inherit;
	font-size: 20px;
	font-family: "Playwrite AU SA";
}
.nav-brand-filler{
	margin: 50px 0;
}
.nav-link,
.nav-item > a {
	color: var(--main-color);
	outline: none;
	border: none;
}
.nav-link:hover,
.nav-item > a:hover {
	color: var(--secondary-color-hover);
	transition: all 0.3s ease;
}
.navbar-brand:hover {
	color: var(--main-color-hover);
	transition: all 0.3s ease;
}