@import "vars";
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #343a40;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 20px;
}

.sidenav .nav-link {
	padding: 10px 20px;
	color: #ffffff;
	display: block;
	text-decoration: none;
}

.sidenav .nav-link:hover {
	background-color: #495057;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	color: var(--main-color);
	padding: 5px 0;
	border: none;
}
