@import "vars";
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	font-family: "Georgia", serif;
	background-color: #ffffff;
	overflow-x: hidden;
	border-right: 1px solid #ddd;
	transition: 0.5s;
}
.sidenav-inner {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

// .sidenav {

// 	color: #000;
// 	width: 250px;
// 	padding: 20px;

// }

.sidenav button.closebtn {
	align-self: flex-end;
	font-size: 24px;
	background: none;
	border: none;
	cursor: pointer;
}
.sidenav-brand {
	margin: 10px 20px 20px 20px;
	align-self: center;
}

.sidenav-user-info > a {
	display: flex;
	gap: 10px;
}
.sidenav .avatar {
	display: block;
	object-fit: cover;
	border-radius: 50%;
}

.sidenav p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	color: #666;
}

.sidenav .navbar-nav {
	list-style: none;
	padding: 0;
}

.sidenav .nav-item {
	margin-bottom: 10px;
}

.sidenav .nav-link {
	font-style: italic;
	text-decoration: none;
	color: #000;
	transition: all 0.3s;
}
.sidenav-brand-text {
	font-size: 30px;
}
.sidenav .nav-link:hover {
	color: #999;
}

.sidenav .btn-toggle-nav {
	margin-top: 20px;
}

.sidenav .btn-toggle-nav strong {
	font-size: 18px;
	margin-bottom: 10px;
	display: inline-block;
	color: #999;
}

.sidenav .btn-toggle-nav .nav-link {
	font-size: 14px;
	color: #555;
	padding-left: 10px;
	display: block;
}

.sidenav .btn-toggle-nav .nav-link:hover {
	color: #000;
	font-weight: bold;
}

.openbtn {
	position: relative;
	z-index: 2;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: -20px;
	width: 100lh;
	background: rgb(232,232,232);
	background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
}

.nav-item {
	float: left;
}

.nav-item .nav-link {
	display: block;
	color: var(--main-color);
	text-align: center;
	text-decoration: none;
}

.active {
	background-color: #04aa6d;
}
