:root {
	--main-color: rgb(32, 32, 32);
	--main-light-color: rgb(207, 246, 252);
	--main-color-hover: rgb(150, 150, 150);
	--secondary-color: rgb(214, 211, 211);
	--secondary-color-hover: rgb(168, 29, 29);
	--main-bg-dark: rgb(18, 18, 18);
	--main-bg-light: rgb(253, 253, 253);
}