<h1>Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
    <%= link_to category.title, category %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a category", new_category_path %>