<%= tag.div id: dom_id(image, :likes), class: "d-flex" do %>
  <%= button_to image_like_path(image), method: :patch, class: "border-0 bg-transparent svg-icon" do %>
    <%= like_button_icon(image) %>
  <% end %>
  <p><%= image.likes_count %></p>
<% end %>