<div id="notifications" class="position-fixed end-0 p-3" style="z-index: 1050;">
  <% @notifications.each do |notification| %>
    <div class="notification alert alert-info alert-dismissible fade show" role="alert">
      <%= notification.message %>
      <%= button_to '', mark_as_read_notification_path(notification), 
                    method: :patch, 
                    class: 'btn-close', 
                    data: { turbo: false }, 
                    form: { class: 'd-inline-block', style: 'border: none; background: none; padding: 0;' }%>
    </div>
  <% end %>
</div>
